<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671669782391-f6kd4cloqps1jv43tifqfkhdskeudoq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671669782391-f6kd4cloqps1jv43tifqfkhdskeudoq9</string>
	<key>API_KEY</key>
	<string>AIzaSyDp_7ll-aJNQlxcKH01fwpEdrfPkGSiMuk</string>
	<key>GCM_SENDER_ID</key>
	<string>671669782391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diuTeacherInitialApp</string>
	<key>PROJECT_ID</key>
	<string>diu-teacher-initial-app</string>
	<key>STORAGE_BUCKET</key>
	<string>diu-teacher-initial-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671669782391:ios:84eab725fc9f3a3f854372</string>
</dict>
</plist>